.body_index{
    max-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-image: url(img/fon.png);
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}

.nav-item{
    padding: 5px 30px;
    font-size: 20px;
}

.nav-b{
    font-size: 30px;
}

.main_index{
    color: white;
    flex-grow: 1;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.index-item{
    font-size: 20px;
}

.big{
    font-size: 24px;
}

.index-item a{
    color: rgb(158, 156, 156);
}

.button{
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.footer{
    color: white;
    text-align: center;
    padding: 20px;
    background-color: black;
}

.body_map{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    flex-direction: column;
}

.main_map{
    flex-grow: 1;
    height: 100%;
}

.bt{
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.body_filter{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-image: url(img/fon.png);
    display: flex;
    flex-direction: column;
}

.main_filter{
    color: white;
    flex-grow: 1;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.form_filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_2{ 
    width: 400px;
    padding: 32px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.form_group{
    position: relative;
}

.form_div{
    text-align: center;
    margin-bottom: 32px;
}

.form_text{
    font-size: 20px;
    margin-left: 30px;
}

.form_select{
    letter-spacing: 1px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 370px;
    margin-right: 40px;
}

.form_p{
    text-align: center;
    margin-left: 30px;
}

